$white:#ffffff;
$off_white:#fafafa;
$blue :#38AEF0;
$black:#000000;
$gray :rgb(67,74,84);
@mixin border_box {
         box-sizing: border-box;
         display: block;
}
@mixin fa_icon {
         color: $white;
         font-size: 16px;
         font-stretch: 100%;
         line-height: 16px;
         text-rendering: auto;
         position: relative;
         right: 3.5px;
         padding-left: 0.4px;
}
.flash-box {
  @include border_box;
  color: $white;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}  
  .notice {
    background-color: $blue;
    display: block;
    color: $white;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    width: 100%;   
  }

.wrapper {
  @include border_box;
  color: $black;
  height: 100%;
  .chat-side {
    @include border_box;
    height: 789px;
    width: 300px;
    float: left;
    background-color: #2f3e51;
    color: $white;
    .side-header {
      align-items: center;
      background-color: #253141;
      display: flex;
      height: 100px;
      padding: 0 20px;
      padding-left: 20px;
      padding-right: 20px;
      &__box {
        box-sizing: border-box;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        width: 260px;
        margin: 0px;
        padding: 0px; 
        height: 24px;          
        &__user-name {
          @include border_box;
          color: $white;
          font-weight: bold;
          font-size: 16px;                   
        }
          .header__name {
            @include border_box;
            color: $white;
            font-weight: bold;
            font-size: 16px;
            padding-right: 185px;
          }
          
        &__menu {
          box-sizing: border-box;
          cursor: pointer;
          width: 40px;
          display: flex;
          font-weight: 700;
          
          &__new-group {
            box-sizing: border-box;
            cursor: pointer;
            color: $white;
            display: list-item;
            font-weight: 700;                        
            margin-left: 4.8px;
            text-align: left; 
            height: 24px;
            width: 16px;           
          }
            .fa-edit {
              @include fa_icon;
            }
          &__edit-user {
            box-sizing: border-box;
            cursor: pointer;
            color: $white;
            display: list-item;
            font-weight: 700;           
            margin-left: 4.8px;
            text-align: left;
          }  
            .fa-cog {
              @include fa_icon;
            }           
        }    
      }  
    }        
  }
    // .groups {      
    //   @include border_box;
    //   background-color: #2f3e51;
    //   height: 689px;
    //   padding-bottom: 0px;
    //   padding-left: 20px;
    //   padding-right: 20px;
    //   padding-top: 20px;
    //   width: 300px;

    //   .group {
    //     @include border_box;
    //     color: $white;
    //     cursor: pointer;
    //     height: 45px;
    //     margin-bottom: 40px;
    //     width: 260px;
    //     text-decoration: none ;
        
    //         &__group-name {
    //           @include border_box;
    //           color: $white;
    //           cursor: pointer;          
    //           font-size: 15px;
    //           height: 23px;
    //           margin-block-end: 5px;
    //           margin-block-start: 0px;
    //           margin-bottom: 5px;
    //           width: 260px;
    //           text-decoration: none ;
    //         }
    //           &__new-group {
    //             text-align: center;
    //             font-size: 36px;
    //             line-height: 90px;
    //           }    
    //         &__latest-message {
    //           @include border_box;
    //           color: $white;
    //           cursor: pointer;
    //           font-size: 11px;
    //           height: 17px;
    //           width: 260px;
    //         }
    //       .edit-user {
    //         display: inline-block;
    //         width: 260px;
    //       }                   
    //   }
    // }
  .chat-main {
    @include border_box;
    color: $off_white;
    float: left;
    height: 100%;
    width: calc(100% - 300px);    
    .main-header {
      box-sizing: border-box;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #eeeeee;
      color: #000;                
      display: flex;
      height: 100px;
      justify-content: space-between;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 0 40px;
                 
      &__left-box {
        @include border_box;
        height: 64px;
        margin-top: 35px;
        
        &__current-group {
          @include border_box;
          font-size: 20px;
          font-weight: 400;
          color: #333333;
          height: 30px;
          margin-block-end: 15px;
          margin-block-start: 0px;
          margin-bottom: 15px;
        }
        &__member-list {
          box-sizing: border-box;
          color: #999999;
          display: flex;
          font-size: 12px;
          height: 18px;                  
        }
          .main-header__left-box__member-list__member {
            box-sizing: border-box;
            color: #999999;
            display: list-item;
            font-size: 12px;
            height: 18px;                             
            text-align: left;
            text-indent: 5px;              
          }
      }    
      &__edit-btn {
        border-bottom-color: $blue;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-image-outset: 0px;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        border-left-color: $blue;
        border-left-style: solid;
        border-left-width: 1px;
        border-right-color: $blue;
        border-right-style: solid;
        border-right-width: 1px;
        border-top-color: $blue;
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        color: $blue;
        cursor: pointer;
        display: block;
        height: 40px;
        line-height: 40px;
        margin-top: 55px;
        padding: 0px 20px;
        position: absolute;
        right: 40px;
        top: 0px;
      } 
        
    }        
          
    .messages {
      @include border_box;
      background-color: $off_white;      
      height: 600px;
      overflow-x: scroll;
      overflow-y: scroll;
      padding: 46px 40px;
      width: 100%;
      .message {
        @include border_box;
        padding-bottom: 40px;
        height: auto;
        width: auto;
        .upper-message {
          @include border_box;
          background-color: $off_white;
          color: $black;
          padding-bottom: 40px;

          &__user-name {
            @include border_box;
            float: left;
            color: #434A54;
            font-size: 16px;
            font-weight: bold;
            height: 24px; 
          }          
          &__date {
            @include border_box;
            float: left;
            color: #999999;
            font-size: 12px;           
            margin-left: 10px;
            position: relative;    
            top: 5px;
          }             
        }
        .lower-message {
          @include border_box;
          color: #434A54;
          font-size: 14px;
          
          margin-block-end: 10px;
          margin-block-start: 0px;
          margin-bottom: 10px;
          &__content {
            @include border_box;
            color: #434A54;
            font-size: 14px;
            height: 21px;
            margin-block-end: 10px;
            margin-block-start: 0px;
            margin-bottom: 10px;
          }
          &__image {
            @include border_box;
            margin-top: 10px;            
          }     
        }   
      }
    }
    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      
      .form__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
        padding-right: 40px;
      }
      .form__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        .form__mask__image {
          font-size: 20px;
          line-height: 50px;          
        }
          .icon {
            box-sizing: border-box;
            cursor: pointer;
            display: inline-block;
            font-size: 20.8px;
            font-stretch: 100%;
            color: $black;
            line-height: 20.8px;
            text-rendering: auto;
          }
          .hidden {
            display: none;
          }
      }
      .form__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;  
        position: relative;
        top: -50px;
        left: 50px;           
      }
    }    
  }
}

